# ignorowanie zawartości folderu
.idea/**
log/**
Zapis modelu/**
wyniki/**
temp/**
Prace naukowe/**
!Zapis modelu/VGG16_Cifar10_moje_wagi_86%.hdf5
Zapis modelu-uciete/**
__pycache__/**
.hdf5
training.log
new_model.png
