# Ignorowanie zawartości folderu
.idea/**
log/**
Zapis modelu/**
wyniki/**
temp/**
Prace naukowe/**
!Zapis modelu/VGG16_Cifar10_moje_wagi_86%.hdf5
Zapis modelu-uciete/**
#__pycache__/**
#utils/__pycache__/**
**/__pycache__/**
data/**
code/Zapis modelu/**
NetworkA/**
models_structures

# Ignorowanie poszczegulnych plików
*.hdf5
*.log
new_model.png
training.log
Skutecznosc warstw.*
test.py
testy1.py
[[*
*]]*
test networks.py
*.tar.gz
x
*.pyc
knowledge_distillation_VGG16.py
.vscode/
logs/
